*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(53, 4, 82);
    color: rgb(233, 228, 223);
}
html{
    scroll-behavior: smooth;
}
/*header*/
.header{
width: 100%;
padding: 20px 8%;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
background: rgba(8, 4, 31, 0.7);
backdrop-filter: blur(8px);
z-index: 1000;
}
.logo{
 font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;

}
.navbar a{
 margin-left: 25px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  transition: .3s;
}
.navbar a:hover,
.navbar a.active{
  color: #00aeff;
}
/*sections common*/
section{
    padding: 100px 8%;
    min-height: 100vh;
}
/* HOME SECTION */
.home {
  padding-top: 120px; /* space because header is fixed */
  display: flex;
  flex-direction: column;   /* so footer stays below */
  align-items: center;
  justify-content: center;
}

/* Home content holds left & right parts */
.home-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

/* LEFT TEXT SECTION */
.text-content {
  flex: 1;
}

.text-content h3 {
  font-size: 28px;
}

.text-content h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

#element {
  font-size: 26px;
  color: #00aeff;
}

/* RIGHT IMAGE SECTION */
.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-content img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid #00aeff;
  object-fit: cover;
}

/* FOOTER ONLY ON HOME */
.home-footer {
  margin-top: 160px;
  padding: 20px 0;
  text-align:left;
  color: #bbb;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
/*about*/
.heading{
  text-align: center;
  font-size: 45px;
  margin-bottom: 50px;
  color: #29a1f1;
}

.heading span{
  color: #ffffff;
}

.about-content{
  max-width: 700px;
  margin: auto;
  line-height: 1.8;
  font-size: 20px;
}
/* SKILLS */
.skill-conatiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-box{
  padding: 15px 25px;
  background: #8ce9e4;
  border-radius: 10px;
  font-size: 18px;
  border: 3px solid #191cdb;
  transition: .3s;
  font-weight: bold;
}

.skill-box:hover{
  transform: scale(1.1);
  background: #00aeff;
}


/* PROJECTS */
.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-box{
  padding: 20px;
  background: #8ce9e4;
  border-radius: 10px;
  border: 2px solid #00aeff;
  transition: .3s;
  font-weight: bold;
}

.project-box:hover{
  transform: translateY(-10px);
  background: #00aeff;
}

/* CONTACT */
form{
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input, form textarea{
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #f5f2f2;
  color: #181717;
  font-size: 16px;
}

form button{
  padding: 12px;
  font-size: 18px;
  background: #00aeff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

form button:hover{
  background: #0088cc;
}
/* RESPONSIVE */
@media (max-width: 768px){
  .home{
    flex-direction: column-reverse;
    text-align: center;
  }
  .image-content img{
    width: 240px;
    height: 240px;
  }
}